In [1]:
import csv
import pandas as pd

datas = pd.read_csv("data.csv")
df = pd.DataFrame(columns = ['High school system', 'Gender', 'Num of graduates', 'Num of enroll in police university', 'Num of enroll in police college',
              "average num of enroll in military school", "Police university rate", "Police college rate", "Military school enrollment rate"])
# df.columns = ['High school system', 'Gender', 'Num of graduates', 'Num of enroll in police university', 'Num of enroll in police college',
            #   'Num of enroll in military school', "average num of enroll in military school", "Police university rate", "Police college rate", "Military school enrollment rate"]
col = list(datas.columns)
nation_female = ["National", "female", 0, 0, 0, 0.0000, 0.0000, 0.0000, 0.0000]
nation_male = ["National", "male", 0, 0, 0, 0.0000, 0.0000, 0.0000, 0.0000]
county_female = ["county & city", "female", 0, 0, 0, 0.0000, 0.0000, 0.0000, 0.0000]
county_male = ["county & city", "male", 0, 0, 0, 0.0000, 0.0000, 0.0000, 0.0000]
private_female = ["private", "female", 0, 0, 0, 0.0000, 0.0000, 0.0000, 0.0000]
private_male = ["private", "male", 0, 0, 0, 0.0000, 0.0000, 0.0000, 0.0000]
temp = [0, 0, 0, 0, 0, 0]

for i in range(datas.index.size):
    if datas.loc[datas.index[i], 'High school system'] == "National":
        if datas.loc[datas.index[i], 'Gender'] == "female":
            nation_female[2] = nation_female[2] + datas.loc[datas.index[i], 'Num of graduates']
            nation_female[3] = nation_female[3] + datas.loc[datas.index[i], 'Num of enroll in police university']
            nation_female[4] = nation_female[4] + datas.loc[datas.index[i], 'Num of enroll in police college']
            temp[0] = temp[0] + datas.loc[datas.index[i], 'Num of enroll in military school']
        elif datas.loc[datas.index[i], 'Gender'] == "male":
            nation_male[2] = nation_male[2] + datas.loc[datas.index[i], 'Num of graduates']
            nation_male[3] = nation_male[3] + datas.loc[datas.index[i], 'Num of enroll in police university']
            nation_male[4] = nation_male[4] + datas.loc[datas.index[i], 'Num of enroll in police college']
            temp[1] = temp[1] + datas.loc[datas.index[i], 'Num of enroll in military school']
    elif datas.loc[datas.index[i], 'High school system'] == "county & city":
        if datas.loc[datas.index[i], 'Gender'] == "female":
            county_female[2] = county_female[2] + datas.loc[datas.index[i], 'Num of graduates']
            county_female[3] = county_female[3] + datas.loc[datas.index[i], 'Num of enroll in police university']
            county_female[4] = county_female[4] + datas.loc[datas.index[i], 'Num of enroll in police college']
            temp[2] = temp[2] + datas.loc[datas.index[i], 'Num of enroll in military school']
        elif datas.loc[datas.index[i], 'Gender'] == "male":
            county_male[2] = county_male[2] + datas.loc[datas.index[i], 'Num of graduates']
            county_male[3] = county_male[3] + datas.loc[datas.index[i], 'Num of enroll in police university']
            county_male[4] = county_male[4] + datas.loc[datas.index[i], 'Num of enroll in police college']
            temp[3] = temp[3] + datas.loc[datas.index[i], 'Num of enroll in military school']
    elif datas.loc[datas.index[i], 'High school system'] == "private":
        if datas.loc[datas.index[i], 'Gender'] == "female":
            private_female[2] = private_female[2] + datas.loc[datas.index[i], 'Num of graduates']
            private_female[3] = private_female[3] + datas.loc[datas.index[i], 'Num of enroll in police university']
            private_female[4] = private_female[4] + datas.loc[datas.index[i], 'Num of enroll in police college']
            temp[4] = temp[4] + datas.loc[datas.index[i], 'Num of enroll in military school']
        elif datas.loc[datas.index[i], 'Gender'] == "male":
            private_male[2] = private_male[2] + datas.loc[datas.index[i], 'Num of graduates']
            private_male[3] = private_male[3] + datas.loc[datas.index[i], 'Num of enroll in police university']
            private_male[4] = private_male[4] + datas.loc[datas.index[i], 'Num of enroll in police college']
            temp[5] = temp[5] + datas.loc[datas.index[i], 'Num of enroll in military school']
nation_female[5] = round(temp[0] / 6.0000, 4)
nation_male[5] = round(temp[1] / 6.0000, 4)
county_female[5] = round(temp[2] / 6.0000, 4)
county_male[5] = round(temp[3] / 6.0000, 4)
private_female[5] =  round(temp[4] / 6.0000, 4)
private_male[5] =  round(temp[5] / 6.0000, 4)

nation_female[6] = round(nation_female[3] / nation_female[2], 4)
nation_male[6] = round(nation_male[3] / nation_male[2], 4)
county_female[6] = round(county_female[3] / county_female[2], 4)
county_male[6] = round(county_male[3] / county_male[2], 4)
private_female[6] =  round(private_female[3] / private_female[2], 4)
private_male[6] =  round(private_male[3] / private_male[2], 4)

nation_female[7] = round(nation_female[4] / nation_female[2], 4)
nation_male[7] = round(nation_male[4] / nation_male[2], 4)
county_female[7] = round(county_female[4] / county_female[2], 4)
county_male[7] = round(county_male[4] / county_male[2], 4)
private_female[7] =  round(private_female[4] / private_female[2], 4)
private_male[7] =  round(private_male[4] / private_male[2], 4)

nation_female[8] = round(temp[0] / nation_female[2], 4)
nation_male[8] = round(temp[1] / nation_male[2], 4)
county_female[8] = round(temp[2] / county_female[2], 4)
county_male[8] = round(temp[3] / county_male[2], 4)
private_female[8] =  round(temp[4] / private_female[2], 4)
private_male[8] =  round(temp[5] / private_male[2], 4)

df.loc[len(df.index)] = nation_female
df.loc[len(df.index)] = nation_male
df.loc[len(df.index)] = county_female
df.loc[len(df.index)] = county_male
df.loc[len(df.index)] = private_female
df.loc[len(df.index)] = private_male

df

,High school system,Gender,Num of graduates,Num of enroll in police university,Num of enroll in police college,average num of enroll in military school,Police university rate,Police college rate,Military school enrollment rate
0,National,female,41984,14,58,65.3333,0.0003,0.0014,0.0093
1,National,male,45412,66,567,134.1667,0.0015,0.0125,0.0177
2,county & city,female,33110,11,38,26.5000,0.0003,0.0011,0.0048
3,county & city,male,35960,27,300,58.8333,0.0008,0.0083,0.0098
4,private,female,40351,7,16,24.1667,0.0002,0.0004,0.0036
5,private,male,44471,10,29,77.8333,0.0002,0.0007,0.0105